body{
    margin: 0px;
    padding: 30px;
    background-color: rgb(85, 79, 79);
}
canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
}
.tools{
    display: flex;
    /* justify-content: center; */
    margin-top: 15px;
}
.tools .color-field{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
}
.tools .button{
    align-self: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: rgb(51, 50, 50);
}