.win {
  font-size: 80px;
  font-weight: 700;
  margin-left: 38%;
}
.score {
  font-size: 60px;
  font-weight: 600;
  position: relative;
  left: 40%;
}

:root {
  --clr-neon: #00fdfd;
  --clr-bg: #053742;
}

*::before,
*::after {
  box-sizing: border-box;
}
.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  background: none;
  outline: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: black;
  background-image: url("./19897-ai\ 2.png");
  background-size: fill;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-attachment: fixed;
  font-family: "Bamsamiq Sans", cursive;
  color: var(--clr-neon);
  padding-right: 10rem;
}

button {
  font-size: 2.5rem;
  position: relative;
  left: 26%;
  width: 20rem;
  margin-left: 13%;
  margin-bottom: 10%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2), 0 0 0.45em currentColor;
  box-shadow: 0 0 0.5em 0 var(--clr-neon), inset 0 0 0.5em 0 var(--clr-neon);
  transition: background-color 100ms linear;
}

button:before {
  content: "";
  position: absolute;
  pointer-events: none;
  background: var(--clr-neon);
  top: 10%;
  left: 0;
  width: 30%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

button:hover,
button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

button:focus::before,
button:hover::before {
  opacity: 1;
}

button:focus::after,
button:hover::after {
  opacity: 1;
}
